[submodule "RosterRN"]
	path = RosterRN
	url = ./RosterRN/
[submodule "RosterServer"]
	path = RosterServer
	url = ./RosterServer/
[submodule "RosterClient"]
	path = RosterClient
	url = ./RosterClient/
